#background {
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('https://discordemoji.com/assets/emoji/5689_Pda.png');
}

#container {
    width: 77%;
    height: 73%;
    top: 10%;
    left: 9%;
    position: relative;
}

.graph-editor {
    width: 100%;
    height: 100%;
    position: relative;
}


#pane, .graph-editor > .pane {
    width: 100%;
    height: 100%;
    background: white;
    /*Не объединять!*/
    background-image: linear-gradient(rgba(100, 100, 100, .7) .1em, transparent .1em), linear-gradient(90deg, rgba(100, 100, 100, .7) .1em, transparent .1em);
    background-size: 3em 3em;
}

.bottom-toolbox, .graph-editor > .graph-menu {
    position: absolute;
    bottom: 20px;
    left: 0;
    width: 100%;
    text-align: center;
}

.bottom-toolbox > .menu, .graph-editor > .graph-menu > .menu {
    box-shadow: 0 0 0 1px #d4d4d5, 0 2px 4px 0 rgba(34, 36, 38, .12), 0 2px 10px 0 rgba(34, 36, 38, .15);
}

.left-toolbox, .graph-editor > .class-editor {
    position: absolute;
    left: 20px;
    top: 30%;
    display: none;
}

[contentEditable=true]:empty:not(:focus):before, .graph-editor > .class-editor [contentEditable=true]:empty:not(:focus):before {
    content: attr(data-placeholder);
    color: grey;
    font-style: italic;
}


.graph-editor .class-editor [data-property] .ui.multiple.dropdown .menu .dividing.header {
    cursor: pointer;
}

.element.type.meta {
    float: right;
}


